#test-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

#test-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid lightcoral;
    width: 30vw;
    padding: 12px;
}

#test-in > input[type="range"] {
    width: 100%;
}

#test-out {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 10vw;
}